### 1. Title, content를 normalize하고 100자 이하의 정보성이 없는 기사는 제거(2024_norm.csv)

In [1]:
from utils.normalize_text import normalize
import hanja
import re

def prerpocessing(sentence):
    # 텍스트 정규화
    sentence = normalize(sentence).replace('  ',' ')
    if re.search(r'[^ㄱ-ㅎ가-힣a-zA-Z0-9…·##μ●▲▶\'!$%&()*+,./:;<=>?@\^`{|}~∼％"\[\]\s-]', sentence):
        sentence = hanja.translate(sentence,'substitution')
    return sentence

In [3]:
import pandas as pd
df = pd.read_csv("dataset/2024.csv")
df.head()

,id,title,date,content,link
0,122846231,中 군 고위간부 9명 전인대 대표 박탈… ‘로켓군’ 납품 관련 부패사건 연루 의혹,20240101,“리상푸 前국방부장 낙마와 연관” 리부장 후임엔 해군출신 둥쥔 중국 당국이 ‘반(反...,https://www.donga.com/news/Inter/article/all/2...
1,122846362,서울 12cm 기습 폭설… “이런 눈 또 온다”,20240101,13년만에 최대… 도로 곳곳 사고 방파제 추락-조난사고도 발생 “엘니뇨-온난화로 폭...,https://www.donga.com/news/Society/article/all...
2,122846400,"‘자산 301조원’ 머스크, 세계 최고 부자에",20240101,1년새 124조원 늘어… 증가액도 1위 아르노 LVMH 회장 2위로 밀려나 베이조스...,https://www.donga.com/news/People/article/all/...
3,122846403,나이지리아서 피랍 17일만에… 대우건설 韓직원 2명 풀려나,20240101,나이지리아에서 무장단체에 납치됐던 대우건설 한국인 직원 2명이 17일 만에 무사히 ...,https://www.donga.com/news/Economy/article/all...
4,122846406,"부모 학대로 다리 잃은 英 9세 소년, 최연소 훈장 받는다",20240101,혼자 의족-목발로 10km 걷기 도전 자기 이름 딴 재단 세워 32억원 모금 어린이...,https://www.donga.com/news/People/article/all/...

In [4]:
df.drop('link', axis=1, inplace=True)
df.head()

,id,title,date,content
0,122846231,中 군 고위간부 9명 전인대 대표 박탈… ‘로켓군’ 납품 관련 부패사건 연루 의혹,20240101,“리상푸 前국방부장 낙마와 연관” 리부장 후임엔 해군출신 둥쥔 중국 당국이 ‘반(反...
1,122846362,서울 12cm 기습 폭설… “이런 눈 또 온다”,20240101,13년만에 최대… 도로 곳곳 사고 방파제 추락-조난사고도 발생 “엘니뇨-온난화로 폭...
2,122846400,"‘자산 301조원’ 머스크, 세계 최고 부자에",20240101,1년새 124조원 늘어… 증가액도 1위 아르노 LVMH 회장 2위로 밀려나 베이조스...
3,122846403,나이지리아서 피랍 17일만에… 대우건설 韓직원 2명 풀려나,20240101,나이지리아에서 무장단체에 납치됐던 대우건설 한국인 직원 2명이 17일 만에 무사히 ...
4,122846406,"부모 학대로 다리 잃은 英 9세 소년, 최연소 훈장 받는다",20240101,혼자 의족-목발로 10km 걷기 도전 자기 이름 딴 재단 세워 32억원 모금 어린이...

In [5]:
df['title'] = df['title'].apply(prerpocessing)
df['content'] = df['content'].apply(prerpocessing)
df.head()

,id,title,date,content
0,122846231,중 군 고위간부 9명 전인대 대표 박탈… '로켓군' 납품 관련 부패사건 연루 의혹,20240101,"""리상푸 전국방부장 낙마와 연관"" 리부장 후임엔 해군출신 둥쥔 중국 당국이 '반(반..."
1,122846362,"서울 12cm 기습 폭설… ""이런 눈 또 온다""",20240101,"13년만에 최대… 도로 곳곳 사고 방파제 추락-조난사고도 발생 ""엘니뇨-온난화로 폭..."
2,122846400,"'자산 301조원' 머스크, 세계 최고 부자에",20240101,1년새 124조원 늘어… 증가액도 1위 아르노 LVMH 회장 2위로 밀려나 베이조스...
3,122846403,나이지리아서 피랍 17일만에… 대우건설 한직원 2명 풀려나,20240101,나이지리아에서 무장단체에 납치됐던 대우건설 한국인 직원 2명이 17일 만에 무사히 ...
4,122846406,"부모 학대로 다리 잃은 영 9세 소년, 최연소 훈장 받는다",20240101,혼자 의족-목발로 10km 걷기 도전 자기 이름 딴 재단 세워 32억원 모금 어린이...

In [6]:
df.to_csv("dataset/2024_norm.csv", index=False)

### 2. Content를 450자 기준으로 split하여 id_(index) 방식의 새로운 unique_id를 가진 데이터셋으로 변환(2024_norm_split.csv)
- upstage의 임베딩을 사용할 계획인데 512 토큰 이하의 document가 가장 좋은 성능을 보인다고 한다

In [7]:
df = pd.read_csv("dataset/2024_norm.csv")
df.head()

,id,title,date,content
0,122846231,중 군 고위간부 9명 전인대 대표 박탈… '로켓군' 납품 관련 부패사건 연루 의혹,20240101,"""리상푸 전국방부장 낙마와 연관"" 리부장 후임엔 해군출신 둥쥔 중국 당국이 '반(반..."
1,122846362,"서울 12cm 기습 폭설… ""이런 눈 또 온다""",20240101,"13년만에 최대… 도로 곳곳 사고 방파제 추락-조난사고도 발생 ""엘니뇨-온난화로 폭..."
2,122846400,"'자산 301조원' 머스크, 세계 최고 부자에",20240101,1년새 124조원 늘어… 증가액도 1위 아르노 LVMH 회장 2위로 밀려나 베이조스...
3,122846403,나이지리아서 피랍 17일만에… 대우건설 한직원 2명 풀려나,20240101,나이지리아에서 무장단체에 납치됐던 대우건설 한국인 직원 2명이 17일 만에 무사히 ...
4,122846406,"부모 학대로 다리 잃은 영 9세 소년, 최연소 훈장 받는다",20240101,혼자 의족-목발로 10km 걷기 도전 자기 이름 딴 재단 세워 32억원 모금 어린이...

In [36]:
# split한 블록들을 차례대로 누적시켜서 새로 구성할, 빈 DataFrame 생성
df_split = pd.DataFrame(columns=['id', 'title', 'date', 'content'])

# 각 행에 대한 split 작업 수행
for idx in range(len(df)):
    origin_row = df.iloc[idx]
    origin_id = origin_row['id']
    content_length = len(origin_row['content'])
    if content_length > 450: # 450자가 넘어가면 Split 작업 수행
        num_blocks = content_length // 450
        # 450자씩 잘라서 block을 만들고 unique_id를 기존 행의 id로 대체하여 df_split에 추가
        for step in range(num_blocks): # 맨 마지막 블록은 정보성이 많이 떨어질 것으로 판단하여 추가하지 않음
            unique_id = str(origin_id) + '_' + str(step)
            new_row = origin_row.copy()
            new_row['id'] = unique_id
            new_row['content'] = origin_row['content'][(step * 450) : (step + 1) * 450]
            df_split.loc[len(df_split)] = new_row
    else:
        # 바로 df_split에 추가
        unique_id = str(origin_id) + '_0'
        new_row = origin_row.copy()
        new_row['id'] = unique_id
        df_split.loc[len(df_split)] = new_row

In [37]:
print("Before Split :", len(df))
print("After Split :", len(df_split))

Before Split : 32294
After Split : 73668

In [38]:
df_split.head()

,id,title,date,content
0,122846231_0,중 군 고위간부 9명 전인대 대표 박탈… '로켓군' 납품 관련 부패사건 연루 의혹,20240101,"""리상푸 전국방부장 낙마와 연관"" 리부장 후임엔 해군출신 둥쥔 중국 당국이 '반(반..."
1,122846231_1,중 군 고위간부 9명 전인대 대표 박탈… '로켓군' 납품 관련 부패사건 연루 의혹,20240101,장비 발전(조달) 부문에 집중됐던 것으로 전해졌다. 커우젠원(구건문) 대만정치대 ...
2,122846362_0,"서울 12cm 기습 폭설… ""이런 눈 또 온다""",20240101,"13년만에 최대… 도로 곳곳 사고 방파제 추락-조난사고도 발생 ""엘니뇨-온난화로 폭..."
3,122846362_1,"서울 12cm 기습 폭설… ""이런 눈 또 온다""",20240101,역 방향으로 향하는 통일로 5차로에서 추돌사고가 발생해 도로가 한때 부분 통제됐다....
4,122846400_0,"'자산 301조원' 머스크, 세계 최고 부자에",20240101,1년새 124조원 늘어… 증가액도 1위 아르노 LVMH 회장 2위로 밀려나 베이조스...

In [39]:
df_split.to_csv("dataset/2024_norm_split.csv", index=False)